<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel: Guests</title>
</head>
<body>
    <h1>Guests</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>e-Mail</th>
            <th>Phone</th>
        </tr>
        <tr th:each=" guest : ${guests}">
            <td th:text="${guest.lastName} +' '+ ${guest.firstName}"></td>
            <td th:text="${guest.emailAdress}"></td>
            <td th:text="${guest.phoneNumber}"></td>
        </tr>

    </table>
    
</body>
</html>